.navigation.pagination {
    text-align: center;
    @include margin(40px 0);

    .next {
        margin-left: 15px;
    }

    .prev {
        margin-right: 15px;
    }

    .current {
        font-weight: 700;
    }

    a {
        color: var(--bs-primary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.navigation.post-navigation {
    @include margin(50px 0);

    .screen-reader-text {
        @extend .visually-hidden;
    }

    .nav-links {
        @include media-breakpoint-up(sm) {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .nav-previous,
    .nav-next {
        flex: 0 0 45%;
        @include media-breakpoint-up(lg) {
            flex: 0 0 33%;
        }

        a {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    .nav-previous {
        margin-bottom: 1em;
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }

        .svg-icon {
            margin-right: 10px;
        }
    }

    .nav-next {
        @include media-breakpoint-up(sm) {
            text-align: right;
        }

        .svg-icon {
            margin-left: 10px;
        }
    }

    .meta-nav {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: var(--bs-primary-shade);
            text-decoration: underline;
        }
    }

    p {
        @include font-size(12px);
        margin: 0;
    }
}