@import "../node_modules/bootstrap/scss/variables";

:root {
    --bs-body-color: $black;

    --borderRadius: 10px;

    --header-color: $black;
    --eyebrow-color: $black;

    --rte-fifty-fifty-bg-color: $gray-300;

    --hero-carousel-bg-light: $gray-300;
    --hero-carousel-bg-dark: $gray-900;

    --newsletter-bg-color: var(--bs-primary);
}