@import "../node_modules/bootstrap/scss/variables";

:root {
    --bs-body-color: $black;

    --bs-header-font-family: Helvetica, Arial, 'sans-serif';

    --borderRadius: 10px;
    --cardBoxShadow: 0 0 12px rgba(0,0,0,0.2);

    --header-color: $black;
    --eyebrow-color: $black;

    --link-color: var(--bs-body-color);
    --link-hover-color: var(--bs-secondary);

    --notification-bar-bg: var(--bs-primary);

    --rte-fifty-fifty-bg-color: $gray-300;

    --hero-carousel-bg-light: $gray-300;
    --hero-carousel-bg-dark: $gray-900;

    --newsletter-bg-color: var(--bs-primary);

    --info-box-bg-color: var(--bs-secondary);
    --info-box-bg-color-hover: var(--bs-secondary-shade);

    --facet-checkbox-color: var(--bs-primary);
}