.eyebrow {
    @include font-size(.875rem); /* 14px @ 16px base */
    font-weight: 700;
    margin-bottom: 1.43em;
    color: var(--eyebrow-color);
}

h3 {
    @include media-breakpoint-down(sm) {
        font-size: 1.125rem; /* 18px @ 16px base */
    }
}

p, li {
    @include font-size(1rem); /* 16px @ 16px base */
    line-height: 1.6em;

    @include media-breakpoint-up(md) {
        @include font-size(1.25rem); /* 20px @ 16px base */
    }
}

a {
    color: var(--bs-primary);
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}