@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

/* Universal hero */
.layout-hero .eyebrow-text {
    color: lightblue;
    font-weight: 700;
}

/* Primary */

.layout-hero.primary {

    &.one-column {
        .column1 {
            text-align: center;
        }

        .carousel,
        .single-image {
            @include margin-top(60px);
        }
    }

    &.two-columns {
        .column1 {
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }

        .column2 {
            @include margin-top(60px);
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }

    h1, h2, h3 {
        color: var(--header-color);
        padding: 0 !important; // Style fix for preview
    }

    p:last-child {
        margin-bottom: 0;
    }

    .image_video {
        background: red;
        width: 100%;
        height: 400px;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: var(--borderRadius);
    }
}

/* Carousel */

/* Image Background Carousel */

.layout-hero.carousel.background-none {
    .glide.content {
        color: var(--bs-white);

        img {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }

    .glide__slide {
        position: relative;
        align-self: stretch;
        height: auto;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            background: transparent linear-gradient(90deg, #00000099 0%, #54545400 100%) 0% 0% no-repeat padding-box;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .content-wrapper {
            position: relative;
            z-index: 2;
            max-width: 100%;

            @include media-breakpoint-up(lg) {
                max-width: 60%;
            }

            .content-wrapper-inner {
                @include padding(135px 73px calc(135px + 60px) 73px); /* Calc makes bottom padding larger when the controls move below content at smaller screen sizes */

                @include media-breakpoint-up(lg) {
                    @include padding(135px 73px);
                }
            }

            h1 {
                color: #fff;
            }
        }
    }

    .controls {
        @include media-breakpoint-down(lg) {
            @include rfs(73px, left);
            margin-left: $grid-gutter-width * 0.5;
            bottom: clamp(20px, 3.2vw, 32px);
        }
    }
}

/* Not Image Background Carousel */

.layout-hero.carousel:not(.background-none) {

    .image {
        display: none;
        position: relative;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &.carousel-active .glide.images {
        .glide__slide {
            opacity: 0;
            transition: opacity 500ms ease-in-out;

            &.glide__slide--active {
                opacity: 1;
                z-index: 2;
            }

            &.glide__slide--next {
                opacity: 1;
                z-index: 3;
            }
        }
    }

    .glide.images {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .glide__slides {
            width: 100% !important;
            transform: translate3d(0,0,0) !important;
        }

        .glide__slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            margin: 0 !important;
        }
    }

    .glide.content {
        @include padding(73px);
        min-height: 500px;
        display: flex;
        align-items: center;

        .glide__slide {
            align-self: center;
        }

        ul, ol {
            margin-bottom: 1.5em;
        }
    }

    /* Light Background Carousel */
    &.background-light .glide.content {
        background: var(--hero-carousel-bg-light);

        h1, .h1, h2, .h2, h3, .h3 {
            color: var(--header-color);
        }
    }

    /* Dark Background Carousel */
    &.background-dark .glide.content {
        background: var(--hero-carousel-bg-dark);
        color: #fff;

        h1 {
            color: #fff;
        }
    }
}

.layout-hero.carousel .glide.images,
.layout-hero.carousel .glide.images .glide__track,
.layout-hero.carousel .glide.images .glide__slides,
.layout-hero.carousel .glide.images .glide__slide {
    height: 100%;
}

.layout-hero.carousel {
    .glide.content {
        border-radius: var(--borderRadius);
        overflow: hidden;

        .content-wrapper {
            *:last-child {
                margin-bottom: 0;
            }
        }
    }

    .glide.images {
        position: relative;
        border-radius: var(--borderRadius);
        overflow: hidden;

        .glide__slides {
            padding: 0;
        }

        img {
            height: 100% !important;
            width: 100% !important;
            object-fit: cover;
        }
    }
}

.layout-hero.carousel .controls {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 10;
    left: auto;
    right: calc(20px + $grid-gutter-width * 0.5);
    bottom: 20px;
    margin-left: 0;

    button {
        display: block;
        @include rfs(60px, width);
        @include rfs(60px, height);
        border-radius: 60px;
        background: #fff;
        border: none;

        &:last-child {
            margin-left: 15px;
        }
    }
}

/* Secondary */
.layout-hero.secondary .inner {
    position: relative;
}

.layout-hero.secondary {
    h1 {
        position: absolute;
        z-index: 2;
        bottom: 0;
        background: #fff;
        border-radius: var(--borderRadius) var(--borderRadius) 0 0;
        padding: 15px 40px 6px 40px;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        max-width: 80%;
        color: var(--header-color);

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &.header-left h1 {
        @include media-breakpoint-up(xl) {
            left: 16.6666%; /* Two column widths */
            transform: translateX(0);
        }
    }

    img {
        max-width: 100%;
        height: auto !important;
        aspect-ratio: 3.24 / 1;
        object-fit: cover;
        border-radius: var(--borderRadius);
    }
}

/* Profile */
.layout-hero.profile {
    .inner {
        position: relative;
    }

    .banner-image {
        max-width: 100%;
        height: auto !important;
        aspect-ratio: 3.24 / 1;
        object-fit: cover;
        border-radius: var(--borderRadius);
    }

    .circular-overlap-image {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        //width: 180px !important;
        //height: 180px !important;
        @include rfs(180px !important, width);
        @include rfs(180px !important, height);
        border-radius: 180px;
        border: 10px solid var(--bs-white);
        object-fit: cover;
    }
}

/**************************
 Admin specific styles
 *************************/

.layout-hero.is-preview {
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.layout-hero.is-preview .image_video {
    height: 200px;
}

/* Admin secondary */
.layout-hero.is-preview.secondary img {
    height: 200px !important;
}

/* Admin carousel */
.layout-hero.is-preview.carousel .glide__slides {
    padding: 0;
}

.layout-hero.is-preview.carousel .glide__slide:not(:first-child) {
    display: none;
}

.layout-hero.is-preview.carousel .glide.images .controls button {
    pointer-events: none;
}