@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-code-block {
    .header {
        margin-bottom: 2em;

        h1,h2,h3 {
            font-family: var(--bs-header-font-family);
            color: var(--header-color);
        }
    }
}