.layout.code-block {
  margin: calc(1.65625rem + 4.875vw) 0;
}
@media (min-width: 1200px) {
  .layout.code-block {
    margin: 5.3125rem 0;
  }
}

/**************************
 Admin specific styles
 *************************/
.layout.code-block.is-preview {
  margin-top: 20px;
  margin-bottom: 20px;
}