@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-code-block {
    .header {
        margin-bottom: 2em;
    }
}

/**************************
 Admin specific styles
 *************************/

.layout.code-block.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}