.layout-icon-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.layout-icon-links ul li {
  font-size: 1.25rem;
  font-weight: 700;
}
.layout-icon-links ul li:not(:last-child) {
  margin: 0 0 20px 0;
}
.layout-icon-links ul li a {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.layout-icon-links ul li a .icon {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  margin-right: 20px;
  position: relative;
  background: #0d6efd;
}
.layout-icon-links ul li a .icon i {
  color: var(--bs-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/**************************
 Admin specific styles
 *************************/
.layout-icon-links.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}