@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-check-list {

    h2 {
        @include margin-bottom(40px);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            @include font-size(20px);
            position: relative;
            padding-left: 30px;
            margin-bottom: 1em;

            svg {
                color: $primary;
                position: absolute;
                left: 0;
                top: 0.2em;
            }
        }
    }

    &.is-preview {
        margin: 20px 0;
    }
}