.layout-accordion {
  margin: calc(1.65625rem + 4.875vw) 0;
}
@media (min-width: 1200px) {
  .layout-accordion {
    margin: 5.3125rem 0;
  }
}
.layout-accordion .accordion-container {
  background: var(--bs-gray-300);
  border-radius: var(--borderRadius);
  padding: calc(1.75rem + 6vw) calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .layout-accordion .accordion-container {
    padding: 6.25rem 6.25rem;
  }
}
.layout-accordion .accordion-item {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--bs-gray-400);
  padding: 35px 0;
}
.layout-accordion .accordion-body {
  max-width: 650px;
  padding: 20px 0 0 0;
}
.layout-accordion .image {
  display: none;
}
@media (min-width: 992px) {
  .layout-accordion .image {
    display: block;
  }
}
.layout-accordion .image .image-wrapper {
  position: relative;
  width: 100%;
  height: calc(5.1875rem + 47.25vw);
}
@media (min-width: 1200px) {
  .layout-accordion .image .image-wrapper {
    height: 40.625rem;
  }
}
.layout-accordion .image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.layout-accordion .accordion-button {
  background: transparent;
  border: none;
  padding: 0 30px 0 0;
  margin: 0;
  font: inherit;
}
.layout-accordion .accordion-button:after {
  position: absolute;
  right: 0;
  top: 5px;
}
.layout-accordion .accordion-button:focus {
  box-shadow: none;
}

/**************************
 Admin specific styles
 *************************/
.layout-accordion.is-preview {
  margin-top: 20px;
  margin-bottom: 20px;
}