.layout-image-gallery h2 {
  color: var(--header-color);
}
.layout-image-gallery div[class*=col] {
  margin-bottom: var(--bs-gutter-x);
}
.layout-image-gallery img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

.simple-lightbox .sl-image img {
  border-radius: var(--borderRadius);
}

/**************************
 Admin specific styles
 *************************/
.layout-image-gallery.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}