@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-image-gallery {

    h2 {
        font-family: var(--bs-header-font-family);
        color: var(--header-color);
    }

    div[class*=col] {
        margin-bottom: var(--bs-gutter-x);
    }

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: var(--borderRadius);
    }
}

.simple-lightbox {
    .sl-image {
        img {
            border-radius: var(--borderRadius);
        }
    }
}