.layout-stats div[class*=col] {
  margin-bottom: var(--bs-gutter-x);
}
.layout-stats h2, .layout-stats .h2 {
  color: var(--header-color);
}
.layout-stats .stat-wrapper {
  height: 100%;
  border: 1px solid var(--bs-gray-400);
  padding: calc(1.4375rem + 2.25vw) calc(1.3125rem + 0.75vw);
  border-radius: var(--borderRadius);
  box-shadow: var(--cardBoxShadow);
}
@media (min-width: 1200px) {
  .layout-stats .stat-wrapper {
    padding: 3.125rem 1.875rem;
  }
}
.layout-stats .stat-wrapper img {
  margin-bottom: 15px;
  max-width: 70px !important;
  height: auto !important;
}
.layout-stats .stat-wrapper p {
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

/**************************
 Admin specific styles
 *************************/
.layout-stats.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}