@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-form {

    .form-boxed-container {
        background: var(--bs-gray-200);
        padding: 40px;
        border-radius: var(--borderRadius);

        @include media-breakpoint-up(sm) {
            @include padding(80px 110px);
        }
    }

    .newsletter-container {
        @include padding(80px);
        background: var(--newsletter-bg-color);
        color: var(--bs-white);
        border-radius: var(--borderRadius);

        h1 {
            color: var(--bs-white);
        }

        .gform_wrapper.gravity-theme .gform_fields {
            position: relative;

            .email {
                grid-column: span 12;

                input {
                    border: none;
                }
            }
        }

        .gform_wrapper.gravity-theme #field_submit,
        .gform_wrapper.gravity-theme .gform_footer {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);

            input[type="submit"] {
                background: none;
                border: none;
                padding: 0;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .newsletter-form {
            margin: 0;
        }
    }

    .form-copy {
        @include margin-bottom(70px);

        *:last-child {
            margin-bottom: 0;
        }
    }
}

.layout-form.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}