.layout-video {
    .body-copy {
        margin-top: 20px;
    }
}

/**************************
 Admin specific styles
 *************************/

.layout-video.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}