.layout-colored-icon-cards .container-lg > .row:last-child {
  margin-bottom: -1.5rem;
}
.layout-colored-icon-cards div[class*=col].grid {
  margin-bottom: 1.5rem;
}
.layout-colored-icon-cards .card {
  height: 100%;
  border: none;
  background: var(--bs-gray-700);
  color: #fff;
}
.layout-colored-icon-cards .card[data-color=primary] {
  background-color: var(--bs-primary);
}
.layout-colored-icon-cards .card[data-color=primary]:hover {
  background-color: var(--bs-primary-shade);
}
.layout-colored-icon-cards .card[data-color=secondary] {
  background-color: var(--bs-secondary);
}
.layout-colored-icon-cards .card[data-color=secondary]:hover {
  background-color: var(--bs-secondary-shade);
}
.layout-colored-icon-cards .card[data-color=tertiary1] {
  background-color: var(--bs-tertiary-1);
  color: #000;
}
.layout-colored-icon-cards .card[data-color=tertiary1]:hover {
  background-color: var(--bs-tertiary-1-shade);
}
.layout-colored-icon-cards .card[data-color=tertiary2] {
  background-color: var(--bs-tertiary-2);
}
.layout-colored-icon-cards .card[data-color=tertiary2]:hover {
  background-color: var(--bs-tertiary-2-shade);
}
.layout-colored-icon-cards .card-body {
  padding: calc(1.375rem + 1.5vw) calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .layout-colored-icon-cards .card-body {
    padding: 2.5rem 3.75rem;
  }
}
.layout-colored-icon-cards img {
  width: 60px !important;
  height: auto !important;
}
.layout-colored-icon-cards img + p {
  margin-top: 20px;
}