@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-colored-icon-cards {

    // Ensures that the module content doesn't create additional vertical spacing
    .container-lg > .row:last-child {
        margin-bottom: calc($grid-gutter-width * -1);
    }

    div[class*=col].grid {
        margin-bottom: $grid-gutter-width;
    }

    .card {
        height: 100%;
        border: none;
        background: var(--bs-gray-700);
        color: #fff;

        &[data-color="primary"] {
            background-color: var(--bs-primary);
            &:hover {
                background-color: var(--bs-primary-shade);
            }
        }
        &[data-color="secondary"] {
            background-color: var(--bs-secondary);
            &:hover {
                background-color: var(--bs-secondary-shade);
            }
        }
        &[data-color="tertiary1"] {
            background-color: var(--bs-tertiary-1);
            color: $black;
            &:hover {
                background-color: var(--bs-tertiary-1-shade);
            }
        }
        &[data-color="tertiary2"] {
            background-color: var(--bs-tertiary-2);
            &:hover {
                background-color: var(--bs-tertiary-2-shade);
            }
        }
    }

    .card-body {
        @include padding(40px 60px);
    }

    img {
        width: 60px !important;
        height: auto !important;
    }

    img + p {
        margin-top: 20px;
    }
}