.layout-image-gallery div[class*=col] {
  margin-bottom: var(--bs-gutter-x);
}

.layout-image-gallery img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

/**************************
 Admin specific styles
 *************************/
.layout-image-gallery.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}