.layout-rte {
  margin: calc(1.65625rem + 4.875vw) 0;
}
@media (min-width: 1200px) {
  .layout-rte {
    margin: 5.3125rem 0;
  }
}
.layout-rte .row {
  align-items: center;
}
.layout-rte .image {
  order: 2;
  margin-top: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .layout-rte .image {
    margin-top: 1.875rem;
  }
}
@media (min-width: 992px) {
  .layout-rte .image {
    order: inherit;
    margin-top: 0;
  }
}
.layout-rte .image img {
  max-width: 100% !important;
  height: auto !important;
}
.layout-rte ul, .layout-rte ol {
  margin: 1.5em 0;
  padding: 0 0 0 1em;
}
.layout-rte ul li, .layout-rte ol li {
  margin-bottom: 1.2em;
}
.layout-rte ul:last-child,
.layout-rte ol:last-child,
.layout-rte p:last-child {
  margin-bottom: 0;
}

/**************************
 Admin specific styles
 *************************/
.layout-rte.is-preview {
  margin-top: 0;
  margin-bottom: 0;
}