@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-big-cta {
    @include margin(85px 0);
}

.layout-big-cta .cta-wrapper {
    background: var(--bs-gray-500);
    color: var(--bs-white);
    text-align: center;
    padding: 65px 30px;
    border-radius: var(--borderRadius);
}

.layout-big-cta .text {
    display: inline-block;
    margin: 0;
}

.layout-big-cta .text-link {
    display: inline-block;
}

.layout-big-cta p + .text-link {
    margin-left: var(--bs-gutter-x);
}

/**************************
 Admin specific styles
 *************************/

.layout-big-cta.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}