@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.layout-big-cta {
    @include margin(85px 0);

    .cta-wrapper {
        color: $white;
        text-align: center;
        font-weight: 700;
        padding: 65px 30px;
        border-radius: var(--borderRadius);
        background-color: var(--bs-secondary);

        &:hover {
            background-color: var(--bs-secondary-tint);
        }

        .text-link {
            text-decoration: underline;
        }
    }

    .text {
        display: inline-block;
        margin: 0;
        opacity: 0.7;
    }

    .text-link {
        display: inline-block;
        color: $white;
        text-decoration: none;
        @include font-size(1rem); /* 16px @ 16px base */
        line-height: 1.6em;

        @include media-breakpoint-up(md) {
            @include font-size(1.25rem); /* 20px @ 16px base */
        }
    }

    p + .text-link {
        margin-left: var(--bs-gutter-x);
        margin-right: var(--bs-gutter-x);
    }
}

/**************************
 Admin specific styles
 *************************/

.layout-big-cta.is-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}